doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../style/style.css")
        script(src="../js/score.js" defer) 
        title Score
    body 
        #wrapper(class="wrapper")
        doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../style/style.css")
        script(src="../js/score.js" defer) 
        title Score
    body 
        #wrapper(class="wrapper")
            #layout
            div
                p   
                    label 평균:
                    input(type="number" id="average")
                p   
                    label 중위값:
                    input(type="number" id="median")
                p   
                    label 최대값:
                    input(type="number" id="maximum")
                p   
                    label 최소값:
                    input(type="number" id="minimum")
                p   
                    label 표준편차:
                    input(type="number" id="standardDeviation")
        