doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./style.css")
        script(src="./script.js" defer)
    body 
        #wrapper(class="wrapper")
            #layout(class="layout")
                canvas(id="canvas" class="canvas" width="400" height="400")
                p   
                    label 밑변
                    input(type="text" id="base" value="5")
                p   
                    label 빗변
                    input(type="text" id="hypotenuse" value="4")
                p   
                    label 높이
                    input(type="text" id="height" value="3")
                p  
                    button(id="drawBtn") Draw