doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style.css")
        title Memory
    body
        #wrapper(class="wrapper")
            h1(class="title") Memory Information
            canvas(id="canvas" class="canvas" width="400" height="400")
        script(src="./frontScript.js" defer)